*{
margin: 0;
padding: 0;

}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000 ;
}
body{
    background-image: url('../img/3D picture of a tic-tac-toe game.png');
    text-align: center;
}


h1{
    
    color: #211f1f;
    font-size: 50px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
h3{
    color: #000000; 
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.turn-container{
    height: 80px;
    width: 170px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    color: #fff;

}
.turn-container h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;

}

.turn-container .turn-box{
    color: #fff;
    border: 3px solid #191913;
    font-size: 4vmin;
    font-weight: 700;

}
.turn-container .turn-box:nth-child(even){
    border-right: none;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 85px;
    background-color: #FF2E63;
    z-index: -1;
}
.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.game{
    height: 50vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 2px solid #191913;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #f70f07;
    background-color: #fff;
    cursor: pointer;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #e81cc3;
    color: #fff;
    border-radius: 1.7rem;
    border: 2px solid black;
}

.btn{
    padding-top: 4rem;
}

#reset-btn:hover{
    background-color: #fff;
    color: #191913;
    border: 2px solid #191913;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #e81cc3;
    color: #fff;
    border-radius: 1.7rem;
    border:  2px solid black;
}

#new-btn:hover{
    background-color: #fff;
    color: #191913;
    border: 2px solid #191913;

}#new-btn1{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #e81cc3;
    color: #fff;
    border-radius: 1.7rem;
    border: 2px solid black;
}

#new-btn1:hover{
    background-color: #fff;
    color: #191913;
    border: 2px solid #191913;

}

#msg{
    color: #ffff;
    font-size: 8vmin;
    
 } 
 
.msg-container{
     height: 60vmax;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 4rem;
     
}
#msg1{
    color: #ffff;
    font-size: 8vmin;
    
 } 
 
.msg-container1{
     height: 60vmax;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 4rem;
     
}

.hide{
     display: none;
    }
    

@media screen and (max-width: 400px){
    .align{
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000 ;
    }
    body{
        background-image: url('../img/3D picture of a tic-tac-toe game.png');
        text-align: center;
    }
    
    h1{
        padding-top: 0.3rem;
        color: #211f1f;
        font-size: 50px;
        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
    h3{
        color: #000000; 
        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
    .btn{
        padding-top: 0.4rem;
    }
    .container{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .turn-container{
        padding-top: 2rem;
        height: 80px;
        width: 170px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        color: #fff;
    }
    
    .turn-container h3{
        font-size: 2rem;
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 3;
    
    }
    .turn-container .turn-box{
        color: #fff;
        border: 3px solid #191913;
        font-size: 4vmin;
        font-weight: 700;
    
    }
    .turn-container .turn-box:nth-child(even){
        border-right: none;
    }
    
    .bg{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 85px;
        background-color: #FF2E63;
        z-index: -1;
    }
    
    .game{
        height: 60vmin;
        width: 60vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2.5vmin;
    }
    .box{
        height: 20vmin;
        width: 18vmin;
        border-radius: 1rem;
        border: none;
        box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
        font-size: 8vmin;
        color: #f70f07;
        background-color: #fff;
        cursor: pointer;
    }
    #reset-btn{
        margin-top: 3rem;
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #e81cc3;
        color: #fff;
        border-radius: 1.7rem;
        border: 2px solid black;
    }
    .msg-container{
        height: 100vmax;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        
   }
   .msg-container1{
        height: 100vmax;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        
   }
   .hide{
    display: none;
   } 
   #new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #e81cc3;
    color: #fff;
    border-radius: 1.7rem;
    border: 2px solid black;
}

#new-btn:hover{
    background-color: #fff;
    color: #191913;
    border: 2px solid #191913;

}#new-btn1{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #e81cc3;
    color: #fff;
    border-radius: 1.7rem;
    border: 2px solid black;
}

#new-btn1:hover{
    background-color: #fff;
    color: #191913;
    border: 2px solid #191913;

}
 
  

}